* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eczar', serif;
  padding: 0.3rem;
  text-transform: capitalize;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.6rem;
}

h4, h5, p, li, td {
  font-size: 1rem;
}

p, li, td {
  font-family: 'Exo', sans-serif;
  padding-left: 0.4rem;
}

li {
  position: relative;
  left: 2rem;
}

article:not(#playable-races, #classes) > table tr:first-child > td, #commands > table tr:first-child > td {
  font-weight: bold;
}

table, td {
  border: 1px solid #000000;
}

table {
  margin: 5px;
}

td {
  padding: 2px;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #000000;
}

#nav-button {
  display: none;
}

nav > div {
  flex: 1;
  font-family: 'Exo', sans-serif;
  font-size: 2rem;
  text-align: center;
  user-select: none;
  cursor: pointer;
  color:#FF40E1;
  font-weight: bold;
}

nav > div:hover {
  color: #FF40E180;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.fold-button {
  user-select: none;
  cursor: pointer;
  transition: transform 1s, box-shadow 1s;
  position: relative;
}

section > .fold-button {
  box-shadow: 0px 4px 0px 0px #000000 inset;

}

article > .fold-button {
  box-shadow: 0px 2px 0px 0px #000000 inset;
}

.fold-icon {
  position: absolute;
  right: 2.5%;
  top: 0px;
  height: 100%;
  transition: transform 1s;
}

.fold-button > h2, .fold-button > h3 {
  left: 0px;
  top: 0px;
}

.fold-icon-unfolded {
  transform: rotate(-90deg);
}

.hidden {
  display: none;
}

.desktop-page-wrapper {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  width: 100vw;
  height: auto;
  background-color: #ff40e2;
  z-index: -1;
}

#desktop-bg {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -2;
}

main {
  height: 100%;
  width: 100%;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.links > article {
  flex: 1;
  width: 100%;
  display: flex;
}

.links > article:nth-child(even) {
  flex-direction: row;
}

.links > article:nth-child(odd) {
  flex-direction: row-reverse;
}

section.links > article > * {
  flex: 1;
}

section.links > article > * img {
  width: 100%;
  height: 100%;
}

#table-hover-wrapper {
  width: 100%;
  height: 100%;
}

#command-tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
}

@media only screen and (min-aspect-ratio: 6/5) {
  .desktop-page-wrapper {
    width: 100vh;
    background-color: #ff40e2;
  }

  #desktop-bg {
    display: block;
  }
}

@media only screen and (max-width: 30rem) {
  nav {
    width: 10rem;
    border-bottom-left-radius: 5px;
    right: -10rem;
    top: 0px;
    position: fixed;
    flex-direction: column;
  }
  #nav-button {
    width: 3rem;
    height: 3rem;
    display: block;
    position: fixed;
    border-bottom-left-radius: 3px;
    top: 0px;
    right: 0px;
    background-color: #000000;
  }
  #nav-button > img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  #links > article {
    flex-direction: column-reverse;
  }
}